<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de Códigos QR</title>
</head>
<body>
    <h1>Generador de Códigos QR</h1>
    
    <video id="video" autoplay></video>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function(stream) {
                    // Acceso a la cámara exitoso
                    document.getElementById('video').srcObject = stream;
                })
                .catch(function(error) {
                    // Error al acceder a la cámara
                    console.error('Error al acceder a la cámara:', error);
                });
        });
    </script>
</body>
</html>
