<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="shortcut icon" href="/static/imagenes/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/static/imagenes/horizontal.png" alt="Logo" width="50" height="35" class="d-inline-block align-top">
        CONTROL DE ACCESO
      </a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/generar">Generar QR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/leer">Leer QR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registros">Lista de Registros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/enviar_excel">Enviar Registros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios">Lista Usuarios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Contenido Principal -->
    <div class="card container mt-5">
      <div class="card-body">
          <h1 class="card-title text-center">Registros de Acceso</h1>
  
          <form action="{{ url_for('mostrar_registros') }}" method="get" class="mb-3">
              <div class="form-group">
                  <label for="fecha">Selecciona una fecha:</label>
                  <input type="date" id="fecha" name="fecha" value="{{ fecha_actual }}" class="form-control">
              </div>
              <br>
              <button type="submit" class="btn btn-success btn-lg">Filtrar</button>
          </form>
  
          <table class="table table-success table-striped text-center table-hover table-sm" id="registros">
              <thead class="thead-dark">
                  <tr>
                      <th>No</th>
                      <th>Documento</th>
                      <th>Nombre</th>
                      <th>Vinculo</th>
                      <th>Fecha</th>
                      <th>Hora Escaneo</th>
                      <th>Hora entrada</th>
                      <th>Hora Salida</th>
                      <th>Rango</th>
                  </tr>
              </thead>
              <tbody>
                  {% for registro in registros %}
                      <tr>
                        <td>{{ registro['Id'] }}</td>
                          <td>{{ registro['Identificacion'] }}</td>
                          <td>{{ registro['Nombre'] }}</td>
                          <td>{{ registro['Area'] }}</td>
                          <td>{{ registro['Fecha'] }}</td>
                          <td>{{ registro['Hora'] }}</td>
                          <td>{{ registro['Entrada'] }}</td>
                          <td>{{ registro['Salida'] }}</td>
                          <td>{{ registro['Rango'] }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  
    <br><br><br>
    <footer class="bg-light p-3 text-center">
      <p class="mb-0">&copy; 2024 - Todos los derechos reservados | Maestri on Track S.A.S</p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        // Colapsamos la barra de navegación al cargar la página
        $("#navbarSupportedContent").collapse("hide");
      
        // Escuchamos el evento click del navbar-toggler
        $(".navbar-toggler").click(function() {
          // Colapsamos o expandimos la barra de navegación
          $("#navbarSupportedContent").collapse("toggle");
        });
      });
      </script>
    <!-- Incluir Bootstrap JS y Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

    <!-- Incluir DataTables -->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    
    <!-- Inicializar DataTables -->
    <script>
        $(document).ready(function() {
            new DataTable('#registros', {
                responsive: true,
                autoWidth: false,
                "order": [[3, "desc"]],  // 3 es el índice de la columna de fecha

                "language": {
                    "lengthMenu": "Mostrar " +
                        `<select class="custom-select custom-select-s form-control form-control-sm">
                                        <option value='10'>10</option>
                                        <option value='25'>25</option>
                                        <option value='50'>50</option>
                                        <option value='100'>100</option>
                                        <option value='-1'>Todo</option>
                                    </select>` +
                        " Registros por página",
                    "zeroRecords": "Nada encontrado - disculpa",
                    "info": "Mostrando la página _PAGE_ de _PAGES_",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        'next': 'Siguiente',
                        'previous': 'Anterior',
                    }
                }
            });
        });
    </script>
</body>
</html>
